.book-show {
  position: relative;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 45px 30px 10px;
  margin: 10px;
  h2 {
    margin: 15px 0;
  }
  img {
    display: block;
  }
  .icons {
    display: flex;
    justify-content: right;
    img {
      margin-left: 15px;
      opacity: 0.8;
    }
    position: absolute;
    top: 5px;
    right: 5px;
    width: 100%;
  }
}
